/* FONT FACE */
@import url(//fonts.googleapis.com/css?family=Raleway:400,500,700,900|Dosis:800|Playfair+Display:400,400italic,900italic|Lora:700|Syncopate:700|Roboto+Condensed:300italic|Oswald:700);

/*GLOBAL */
*, *::after, *::before {
    box-sizing: border-box;
}

.yellow {
    color: #ffd587;
}

/*
    ***     MOBILE FIRST        ***
     This applies from 0px to 479px
 */

/* HEADER */
.siteHeader {
    background: radial-gradient(circle at center,rgb(47, 47, 55), rgb(0,0,0));
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.8);
    padding: 20px;
}

.mainNavigation  a {
    color: #D3D3D3;
}

.mainNavigation h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    display: block;
    line-height: 1.2;
}

.subtitle {
    display: block;
    font-size: 0.4em; /* 12px / 30px  */
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-left: 0.833333333333333em; /* 25px / 30px */

}

.mainNavigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.mainNavigation > a {
    display: block;
    padding: 10px;
    height: 100px;
    text-decoration: none;
    text-align: center;
}

.mainNavigation .fa{
    display: block;
    font-size: 3rem;
    padding-top: 5px;
    text-align: center;
    margin-top: 5px;
}

/* Navigation link styles */
.navLink {
    outline: none;
    text-decoration: none;
    position: relative;
    color: #9e9ba4;
    display: inline-block;
}

/* Yaku */
.navLink--yaku {
    color: #D3D3D3;
    font-family: 'Playfair Display';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    overflow: hidden;

}

.navLink--yaku::before {
    content: '';
    position: absolute;
    height: 80%;
    width: 100%;
    border-width: 2px 0;
    border-color: #9e9ba4;
    border-style: solid;
    left: 0;
    -webkit-transform: translate3d(-101%,0,0);
    transform: translate3d(-101%,0,0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.navLink--yaku:hover::before {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.navLink--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
    transform: perspective(1000px) rotate3d(0,1,0,0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s;
}

.navLink--yaku:hover,
.navLink--yaku:focus,
.navLink--yaku:active
{
    color: #ffd587;
    transition: transform 0.5s, color 0.5s;
}

.navLink--yaku:hover span {
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
    transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.navLink--yaku span:nth-child(4),
.navLink--yaku:hover span:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.navLink--yaku span:nth-child(3),
.navLink--yaku:hover span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.navLink--yaku span:nth-child(2),
.navLink--yaku:hover span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.navLink--yaku span:first-child,
.navLink--yaku:hover span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}


/* MAIN */
/* Ce qui concerne le corps du site */

.main {
    padding: 5rem 2rem;
    background: #fff;
}

/* FOOTER */
/* Ce qui concerne le footer */


/*
    ***     PORTRAIT/LANDSCAPE TABLET TO DESKTOP         ***
             This applies from 768px to 1199px
 */
@media (min-width: 481px) AND (max-width: 1024px) {
    .mainNavigation {
        flex-direction: row;
    }

    h1 {
        width: 100%;
    }

    .mainNavigation > a {
        font-size: 1.2rem;
        width: 33%;

    }

}

/*
    ***     LARGE DESKTOP         ***
    This applies from 1025px
 */
@media (min-width: 1025px) {
     .mainNavigation{
        flex-direction: row;
     }

    .mainNavigation a:last-of-type {
        margin-right: 5rem;
    }
}

