/* FONT FACE */
@import url(//fonts.googleapis.com/css?family=Raleway:400,500,700,900|Dosis:800|Playfair+Display:400,400italic,900italic|Lora:700|Syncopate:700|Roboto+Condensed:300italic|Oswald:700);

/*GLOBAL */
*, *:after, *:before {
    box-sizing: border-box;
}

.yellow {
    color: #ffd587;
}

/*
    ***     MOBILE FIRST        ***
     This applies from 0px to 480px
 */

/* NAVIGATION */
.mainNavigation {
    background: -webkit-radial-gradient(center, circle,rgb(47, 47, 55), rgb(0,0,0));
    background: radial-gradient(circle at center,rgb(47, 47, 55), rgb(0,0,0));
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.8);
    padding: 16px 32px;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.mainNavigation  a {
    color: #D3D3D3;
}

.mainNavigation h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin:0;
}

.name {
    display: block;
}

.subtitle {
    display: block;
    font-size: 0.3em; /* 12px / 30px  */
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;

}

.mainNavigation > a {
    display: block;
    padding: 1.6px;
    padding: .1rem;
    min-height: 5em;
    text-decoration: none;
    text-align: center;
}


/* Navigation link styles */
.navLink {
    outline: none;
    text-decoration: none;
    position: relative;
    color: #9e9ba4;
    display: inline-block;
}

/* Yaku */
.navLink--yaku {
    color: #D3D3D3;
    font-family: 'Playfair Display';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    font-size: 1.5rem;
    overflow: hidden;
    text-shadow: 1.6px 1.6px 16px #6e6e6e;
    text-shadow: .1rem .1rem 1rem #6e6e6e;
}

.navLink--yaku:before {
    content: '';
    position: absolute;
    height: 90%;
    width: 100%;
    border-width: 3.2px 0;
    border-width: 0.2rem 0;
    border-color: #9e9ba4;
    border-style: solid;
    left: 0;
    -webkit-transform: translate3d(-101%,0,0);
    transform: translate3d(-101%,0,0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.navLink--yaku:hover:before {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.navLink--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
    transform: perspective(1000px) rotate3d(0,1,0,0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}

.navLink--yaku:hover,
.navLink--yaku:focus,
.navLink--yaku:active
{
    color: #ffd587;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}

.navLink--yaku:hover span {
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
    transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.navLink--yaku span:nth-child(4),
.navLink--yaku:hover span:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.navLink--yaku span:nth-child(3),
.navLink--yaku:hover span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.navLink--yaku span:nth-child(2),
.navLink--yaku:hover span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.navLink--yaku span:first-child,
.navLink--yaku:hover span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.mainNavigation .fa{
    display: block;
    font-size: 48px;
    font-size: 3rem;
    text-align: center;
    margin-top: 8px;
    margin-top: .5rem;
}

/* HEADER */
#cover{
    background: no-repeat top center fixed;
    background-size: cover;
    min-height: 960px;
    min-height: 60rem;
}


#bgCover{
    z-index: 1;
    min-height: 960px;
    min-height: 60rem;
    background-color: rgba(0, 5, 8, 0.45);
}

.headerContent{
    z-index:2;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 33%;

}

.headerContent h2 {
    padding-top: 5em;
    color: #E7E9EB;
    text-shadow: 3.2px 3.2px 16px #000;
    text-shadow: .2rem .2rem 1rem #000;
    text-transform: uppercase;
}

.headerSubtitle {
    display: block;
    padding: 24px;
    padding: 1.5rem;
    margin-top: 32px;
    margin-top: 2rem;
    border-top: solid;
    border-color: #ffd587;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    text-shadow: 6.4px 6.4px 16px #000;
    text-shadow: .4rem .4rem 1rem #000;
    font-size: .8em;
}
/* MAIN */
.main {
    background: #fff;
    text-align: center;
}

.profil {
    width: 320px;
    height: 320px;
}

/*
 * ==== hexagon
 */
.hexa, .hexa div {
    margin: 0 auto;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.hexa {
    width: 325px;
    height: 230px;
}
.hexa div {
    width: 100%;
    height: 100%;
}
.hexa {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
}
.hex1 {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.hex2 {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

main {
    padding: 32px;
    padding: 2rem;
}

/* ABOUT */

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 112px;
    padding-top: 7rem;
}

.about h2 {
    margin: 48px 0;
    margin: 3rem 0;
    text-transform: uppercase;
}

.about article {
    padding: 80px;
    padding: 5rem;
}

.about article h3 {
    margin: 32px;
    margin:2rem ;
    text-transform: uppercase;
    color: #ffd587;
}

/* RECOMMENDATIONS */
.recommendation {
    padding: 80px 0;
    padding: 5rem 0;
    background-color: #F5F5FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

blockquote {
    display: inline-block;
    background: #eee;
    padding: 64px 48px 48px 96px;
    padding: 4rem 3rem 3rem 6rem;
    border-radius: 1rem;
    font-family: 'Bitter', serif;
    color: #333;
    text-align: left;
    max-width: 90%;

    box-shadow: 1px 1px 1px #999,
    2px 2px 1px #999,
    3px 3px 1px #999;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
}

blockquote:hover {
    box-shadow: 1px 1px 5px #999,
    2px 2px 6px #999,
    3px 3px 7px #999;
}

blockquote .fa {
    color: #ffd587;
}

blockquote cite.author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 8px;
    margin-top: .5rem;
    color: #999;
}

blockquote cite.author i {
    position: relative;
    background: #eee;
    padding-left: 8px;
    padding-left: .5rem;
    font-style: italic;
    z-index: 5;
}

blockquote cite.author:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: 1;
}

/* PORTFOLIO */
main h2 {
    padding: 80px;
    padding: 5rem;
    text-transform: uppercase;
}

#projectsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px;
    padding: 3rem;
}

#projectsContainer article {
    display: inline-block;
    width: 480px;
    width: 30rem;
    height: 320px;
    height: 20rem;
    text-align: left;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    margin: 16px;
    margin: 1rem;
}

#projectsContainer article img {
    width: 480px;
    width: 30rem;
    height: 320px;
    height: 20rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.projectDescription {
    position: absolute;
    bottom: -8px;
    bottom: -.5rem;
    left: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.projectDescription h3 {
    background: rgba(0,0,0,0.7);
    font-size: 28.8px;
    font-size: 1.8rem;
    line-height: 48px;
    line-height: 3rem;
    text-transform: none;
    padding-left: 8px;
    padding-left: .5rem;
}

.projectDescription h3:hover {
    color: #fff;
}

/* CONTACT FORM */
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
}

form label {
    display: block;
    text-align: left;
}

form > div {
    border: 0.16px solid #D3D3D3;
    border: .01rem solid #D3D3D3;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,0.5);
    padding: 32px;
    padding: 2rem;
    line-height: 48px;
    line-height: 3rem;
}

form div:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

form > div + div {
    margin-bottom: 1em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

form > div > p {
    display: block;
}

form input {
    width: 100%;
}

form div + div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

textarea {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

form input[type=submit]:hover {
    background-color: #ffd587;
    border: 3.2px solid #ffd587;
    border: 0.2rem solid #ffd587;
}

/* FOOTER */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #D3D3D3;
    background: -webkit-radial-gradient(center, circle,rgb(47, 47, 55), rgb(0,0,0));
    background: radial-gradient(circle at center,rgb(47, 47, 55), rgb(0,0,0));
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.5);
    text-align: center;
}

footer a {
    color: #D3D3D3;
}

.footerNavigation {
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
}
.footerNavigation > a {
    display: block;
    padding: 8px;
    padding: 0.5rem;
    font-size: 28.8px;
    font-size: 1.8rem;
    text-decoration: none;
}

footer a:hover, a:active, a:focus {
    color: #ffd587;
}

.footerLogo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 32px;
    padding: 2rem;
}

.footerLogo:hover, .footerLogo:active, .footerLogo:focus {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
}

.footerLogo a:hover {
    color: #D3D3D3;
}

.footerMentions {
    font-size: 16px;
    font-size: 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 100%;
}

/* LEGAL MODAL */

.modal-dialog {
    max-width: 70%;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #D3D3D3;
    background: -webkit-radial-gradient(center, circle,rgb(47, 47, 55), rgb(0,0,0));
    background: radial-gradient(circle at center,rgb(47, 47, 55), rgb(0,0,0));
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.5);
    text-align: left;
}
.modal-header h3 {
    width: 80%;
    margin: 0;
}
.modal-header button {
    padding: 16px;
    padding: 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #ffd587;
    border-radius: 50%;
}

.modal-body {
    text-align: justify;
    padding: 32px;
    padding: 2rem;
    line-height: 32px;
    line-height: 2rem;
    font-size: 19.2px;
    font-size: 1.2rem;
}
.modal-body h4, .modal-body h5 {
    text-transform: uppercase;
    color: #ffd587;
    margin: 32px 0;
    margin: 2rem 0;
}

.modal-footer button:hover {
    background-color: #ffd587;
    cursor: pointer;
}
/* Cacher un élément */
.hidden {display: none}

/*
    ***     PORTRAIT/LANDSCAPE TABLET TO DESKTOP         ***
             This applies from 481px to 1024px
 */

@media (min-width: 481px) AND (max-width: 1024px){
    .mainNavigation{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    h1{
        width: 100%;
    }
    .mainNavigation > a{
        font-size: 1.2rem;
        width: 33%;
    }

    /* MAIN */
    .about{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .about header{
        min-width: 100%;
    }
    .about article{
        max-width: 50%;
        padding: 2rem;
    }
    .about article p{
        text-align: justify;
        padding: 1rem;
    }
    .recommendation{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                    -ms-grid-row-align: stretch;
                align-items: stretch;
    }
    .recommendation blockquote{
        max-width: 45% ;
    }

    /* PORTFOLIO */
    #projectsContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    /* CONTACT */
    form{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    form > div{
        width: 50%;
    }
    form > div + div{
        margin-left: 1rem;
        margin-bottom: 0;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}

/*
    ***     LARGE DESKTOP         ***
    This applies from 1025px
 */

@media (min-width: 1025px){
    .mainNavigation{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .mainNavigation a:last-of-type{
        margin-right: 5rem;
    }

    /* MAIN */
    .about{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .about header{
        width: 100%;
    }
    .about article{
        width: 50%;
    }
    .about article p{
        text-align: justify;
        padding: 0 3rem;
    }
    .recommendation{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }
    .recommendation blockquote{
        width: 40%;
    }

    /* PORTFOLIO */
    #projectsContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    footer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .footerLogo{
        font-size: 3rem;
    }
    .footerNavigation > a{
        font-size: 2.5rem;
        display: inline-block;
        padding: 3rem  6rem;
    }
    form{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    form > div{
        width: 50%;
    }
    form > div + div{
        margin-left: 1rem;
        margin-bottom: 0;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}
